.buttons {
  grid-area: footer;

  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 70%;
  transition: all 0.2s linear;
}

.obmanka {
  color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.root {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  //align-items: center;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 0.5fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  color: white;

  text-align: center;
  grid-gap: 10px;

  span {
    font-weight: 700;
    font-family: "Montserrat Italic";
  }
}

.title {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 2px;
  position: relative;
  font-size: 2.3em;
  font-family: "Montserrat Black Italic";
  text-transform: uppercase;
  background: linear-gradient(180deg, #753BBD 0%, #00C7B1 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #ffffff;



  @media (max-width: 450px) {
    font-size: 2em;
  }
  @media (max-width: 320px) {
    font-size: 1.6em;
  }
  @media (max-width: 280px) {
    font-size: 1.4em;
  }

  &:before {
    margin: 0 auto;
    right:0; left: 0.7%;
    top: 4%;
    position: absolute;
    content: attr(data-text);

    color: transparent;

    background-image: -webkit-linear-gradient(90deg, #753BBD 0%, #00C7B1 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;

    z-index: -1;
  }

  &:after {
    margin: auto;
    right:0; left: 1.4%;
    top: 8%;
    position: absolute;

    color: transparent;
    background: -webkit-linear-gradient(90deg, #753BBD 0%, #00C7B1 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;

    content: attr(data-text);
    z-index: -2;
  }
}

.wheelBox {
  grid-area: main;
  justify-self: center;
  align-self: center;
  width: 90%;
  aspect-ratio: 1 / 1;


  @media (max-width: 381px) {
    width: 80%;
  }
}


.container {
  margin: 0 auto;
  display: flex;
  width: 80%;
}

.titleContainer {
  //margin-bottom: 25px;
  grid-area: header;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.titleResult {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  font-size: 1.7em;
  font-family: "Montserrat Black Italic";
  justify-self: center;
  align-self: center;
}

.subTittle {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  font-size: 0.7em;
  font-family: "Montserrat";
}

.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result {
  position: relative;
  font-family: "Montserrat Black Italic";
  font-size: 2.5em;
  background: linear-gradient(90.51deg, #00C7B1 25.03%, #753BBD 80.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 321px) {
    font-size: 2em;
  }

  &:before {
    margin: auto;
    right:0;
    left: 0;
    top: 13%;
    position: absolute;
    content: attr(data-text);

    opacity: 0.6;
    color: transparent;

    background: linear-gradient(90.51deg, #00C7B1 25.03%, #753BBD 80.92%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;

    z-index: -1;
  }

  &:after {
    margin: auto;
    right:0;
    left: 0;
    top: 26%;
    position: absolute;

    opacity: 0.4;
    color: transparent;
    background: linear-gradient(90.51deg, #00C7B1 25.03%, #753BBD 80.92%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;

    content: attr(data-text);
    z-index: -2;
  }
}