.root {
    margin: 0;
    width: 100%;
    height: 100vh;
    max-width: 1080px;
    max-height: 1367px;

    background-image:url('./assets/bg.png');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    z-index:-1;



    @media (max-width: 450px) {
        --title-font-size: 2.3em;
        --sub-tittle-font-size: 1.8em;
    }
    @media (max-width: 380px) {
        --title-font-size: 1.8em;
        --sub-tittle-font-size: 1.6em;
    }
    @media (max-width: 320px) {
        --title-font-size: 1.6em;
        --sub-tittle-font-size: 1.4em;
    }
    @media (max-height: 500px) {
        --wheel-size: 70%;
        --title-font-size: 1.6em;
        --sub-tittle-font-size: 1.4em;
        --main-button-font-size: 0.8em;
        --button-font-size: 0.6em;
    }
    @media (max-height: 450px) {
        --wheel-size: 65%;
    }
    @media (max-height: 400px) {
        --wheel-size: 60%;
    }
}

.imageLoad {
    display: none;
    position: absolute;
}